env
TCP_video_conference.pdf
.vscode/settings.json
.gitignore
neural_style_tansfer.pdf
zoom_pic.jpg
__pycache__/app.cpython-311.pyc
__pycache__/video_stream.cpython-311.pyc
water_colour_portrait.jpg
__pycache__/background_remove.cpython-311.pyc
style_transfer/magenta_arbitrary-image-stylization-v1-256_int8_prediction_1.tflite
style_transfer/magenta_arbitrary-image-stylization-v1-256_int8_transfer_1.tflite
lite-model_mobilenetv2-dm05-coco_fp16_1.tflite
woman_cat.jpg
style_transfer/images/content_images/in_bruges.png
style_transfer/images/style_images/starry_night.jpg
style_transfer/images/style_images/the_scream.jpg
style_transfer/images/style_images/udnie.png
style_transfer/images/style_images/water_color_fox.jpg
face_mesh/shape_predictor_68_face_landmarks.dat
face_mesh/woman_pic.jpg
face_mesh/woman_vid.mp4
face_mesh/face_landmarker.task
